#contact-main{
    overflow: hidden;
}

#contact-main .contact-text{
    font-family: 'Montserrat', sans-serif;
}

#contact-main .contact-image{
    margin-top: 80px;
    height: 400px;
}

#contact-main #contact-img1{
    margin-top: 150px;
    margin-left: 120px;
    height: 850px;
    width: 100%;
    box-shadow: 2px 2px 5px #333232;
}


#contact-form{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 100px;
    margin-bottom: 800px;
    width: 800px;
    height: 300px;
    padding: 2rem;
    float: right;
}

#contact-form .input__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}


#contact-form > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 75px;
    color: rgb(60, 60, 60);
}

#contact-form label{
    color: rgb(60, 60, 60);
    font-weight: 600;
}

#contact-form #first-name, #last-name, #email, #topic, #content{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1.3px solid #C0C0C0;
    border-radius: 4px;
}

#contact-form  #content{
    height: 200px;
}

#contact-form button {
    width: 100px;
    height: 50px;
    background-color: #333232;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); 
    color: #ffffff;
}

#contact-form button#submit {
    margin-left: 20px;
    background-color: gray;
    cursor: not-allowed;
}