#vip-policy-main{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

#vip-policy-main > .background-image{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/vip-policy/vip-policy-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: blur(15px);
    z-index: -1;
}


#vip-policy-main ul.level-0 > li{
    list-style: none;
    font-size: 18px;
    margin-bottom: 20px;
}

#vip-policy-main ul.level-0 > li > h2{
    font-weight: 600;
    font-size: 35px;
    color: black;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(56, 53, 53);
    border-color: rgb(9, 52, 93);
    font-family: 'Montserrat', sans-serif;
}

#vip-policy-main ul.level-1{
    margin-bottom: 40px;
}

#vip-policy-main ul.level-1 > li{
    list-style: none;
    margin-bottom: 5px;
}

#vip-policy-main ul.level-1 > li > h3{
    font-weight: 600;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

#vip-policy-main ul.level-2{
    --icon-size: .8em;
    --gutter: 1em;
    padding: 0 0 0 var(--icon-size);
}

#vip-policy-main ul.level-2 > li {
    padding-left: var(--gutter);
    margin-bottom: 8px;
    margin-left: 70px;
    margin-right: 60px;
    font-weight: 400;
    color: rgb(223, 205, 205);
    text-align: justify;
}

#vip-policy-main ul.level-2 > li > span{
    font-weight: 600;
}

#vip-policy-main ul.level-2 > li::marker{
    content: "\f5a2";
    font-family: FontAwesome;
}

#vip-policy-main ul.level-0.notice > li{
    font-weight: bold;
    font-style: italic;
    color: white;
}


#vip-policy-main .text{
    margin-top: 100px;
    margin-left: 35px;
    margin-right: 35px;
}


#vip-policy-main #block-title-1-id1{
    width: 30%;
}

#vip-policy-main #block-title-1-id2{
    width: 35%;
}

#vip-policy-main .block-title-1{
    position: relative;
    text-align: center;
    color: white;
    border: 1px solid rgb(190, 190, 190);
    background: linear-gradient(to right, rgb(45, 45, 45), rgb(100, 100, 100), rgb(144, 144, 144));
    margin-left: 20px;
    margin-bottom: -18px;
    line-height: 45px;
    box-shadow: 2px 2px 3px rgb(225, 225, 225);
      
}

#vip-policy-main .block-content-1{
    border: 1px solid rgb(110, 110, 110);
    background-color: rgba(92, 84, 84, 0.95);
    box-shadow: 2px 2px 5px rgb(99, 94, 94);
    line-height: 30px;
}

#vip-policy-main .block-content-1 li:first-child{
    margin-top: 27px;
}
#vip-policy-main .block-content-1 li{
    margin-left: 30px;
}

#vip-policy-main .padding-img1{
    margin-top: 110px;
    margin-left: 30px;
    width: 300px;
    height: 530px;
    box-shadow: 1px 1px 2px rgb(152, 168, 187);
}

#vip-policy-main .padding-img2{
    margin-top: 110px;
    margin-left: 30px;
    width: 290px;
    height: 560px;
    box-shadow: 1px 1px 2px rgb(112, 71, 3);
}

#vip-policy-main .vip-img{
    height: 100%;
    width: auto;
    object-fit: cover;
}


#vip-policy-main ul.level-0.notice.end-of-page > li{
    color: black;
}

